<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> <br>
<%= link_to 'Back', users_path %><br>
<%= link_to 'New Watch', new_watch_path %><br>